body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5em;
}
#num{
    display: block;
    text-align: center;
    padding-top: 30px;
}
.buttons{
    text-align: center;
}
.buttons button{
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 0.3em;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #212529;
}
.buttons button:hover{
    background-color: #424649;
    cursor:pointer;
}